## 기술통계

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols,glm

In [5]:
wine = pd.read_csv('dataset/winequality-both.csv',sep=',',header=0)
wine.columns = wine.columns.str.replace(' ','_')

In [6]:
wine.head(3)

,type,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,red,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,red,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5

### describe를 이용한 수치형 변수들에 대한 요약통계 출력
- 관측값 개수, 평균, 표준편차, 최소값, 25번째 백분위수, 중앙값, 75번째 백분위수, 최댓값

In [7]:
wine.describe()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [9]:
wine.value_counts()

type   fixed_acidity  volatile_acidity  citric_acid  residual_sugar  chlorides  free_sulfur_dioxide  total_sulfur_dioxide  density  pH    sulphates  alcohol  quality
white  7.3            0.19              0.27         13.9            0.057      45.0                 155.0                 0.99807  2.94  0.41       8.8      8          8
       7.0            0.15              0.28         14.7            0.051      29.0                 149.0                 0.99792  2.96  0.39       9.0      7          8
       6.8            0.18              0.30         12.8            0.062      19.0                 171.0                 0.99808  3.00  0.52       9.0      7          7
       7.4            0.16              0.30         13.7            0.056      33.0                 168.0                 0.99825  2.90  0.44       8.7      7          7
       7.6            0.20              0.30         14.2            0.056      53.0                 212.5                 0.99900  3.14  0.46       8.9      8          6
                                                                                                                                                                        ..
       6.0            0.20              0.26         1.1             0.033      38.0                 67.0                  0.98954  3.14  0.38       11.5     6          1
                                        0.25         2.0             0.041      30.0                 95.0                  0.99078  3.27  0.56       11.1     6          1
                                        0.24         5.3             0.075      49.0                 201.0                 0.99466  3.21  0.43       9.5      5          1
                                                     1.8             0.030      30.0                 105.0                 0.99090  3.31  0.47       11.5     6          1
       14.2           0.27              0.49         1.1             0.037      33.0                 156.0                 0.99200  3.15  0.54       11.1     6          1
Name: count, Length: 5320, dtype: int64

In [8]:
wine.quality.unique()

array([5, 6, 7, 4, 8, 3, 9])

## 그룹화, 히스토그램, t 검정

### 그룹화

In [10]:
print(wine.groupby('type')[['quality']].describe().unstack('type'))

                type
quality  count  red      1599.000000
                white    4898.000000
         mean   red         5.636023
                white       5.877909
         std    red         0.807569
                white       0.885639
         min    red         3.000000
                white       3.000000
         25%    red         5.000000
                white       5.000000
         50%    red         6.000000
                white       6.000000
         75%    red         6.000000
                white       6.000000
         max    red         8.000000
                white       9.000000
dtype: float64

In [11]:
print(wine.groupby('type')[['quality']].quantile([0.25,0.75]).unstack('type'))

     quality
type     red white
0.25     5.0   5.0
0.75     6.0   6.0

### 히스토그램

### t-검정